@import "../../../variables";

$sidebar-item-handle-offset: .2rem !default;
$sidebar-item-handle-width: .2rem !default;
$sidebar-item-color: $body-color !default;

.SideBarItem {
  position: relative;
  display: flex;
  height: 3rem;
  align-items: center;
  padding-left: $spacer;
  color: $sidebar-item-color;

  &__Icon {
    margin-right: $spacer / 2;
  }

  &::before {
    content: "";
    position: absolute;
    left: $sidebar-item-handle-offset;
    top: $sidebar-item-handle-offset;
    bottom: $sidebar-item-handle-offset;
    width: $sidebar-item-handle-width;
    border-radius: $sidebar-item-handle-width / 2;
  }

  &:hover {
    text-decoration: none;
  }

  &--active {
    background-color: $gray-200;
  }

  &:not(&--active):hover {
    background-color: $gray-100;
  }

  &--active, &:hover {
    color: $sidebar-item-color;

    &::before {
      background-color: $primary;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: .33;
  }
}
