@import "../../../../variables";

$alternative-color: $secondary;

.EventOverview {
  &__Alternative {
    display: flex;
    margin-bottom: $spacer / 2;
    flex-direction: row;
    align-items: center;
    border-radius: $border-radius;
    border-color: $alternative-color;
    border-width: $border-width;
    border-style: solid;
    background-color: $card-bg;
  }

  &__AlternativeName,
  &__AlternativeScore {
    padding: $input-padding-y $input-padding-x;
  }

  &__AlternativeName {
    flex-grow: 1;
  }

  &__AlternativeScore {
    background: $alternative-color;
    flex-basis: 4rem;
    text-align: center;
    color: $body-color;
    font-variant-numeric: tabular-nums;
  }

  &__Evaluations,
  &__Introduction {
    text-align: center;
  }

  &__Section {
    padding-top: 2 * $spacer;
  }
}