@import "../../variables";

.Brand {
    font-family: 'Oxanium', cursive;
    font-size: 1.8rem;
    font-weight: lighter;
    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}
