@import "../../variables";

.MainScene {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5 * $spacer;
    padding-bottom: 2 * $spacer;

    &__TopBar {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100vw;
        flex-basis: 3 * $spacer;
        box-shadow: rgba($black, .3) 0 (.2 * $spacer) (.5 * $spacer);
    }
}
