@import "../../../variables";

.EventOverview {
  &__AlternativeCard {
    margin-bottom: $spacer / 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spacer / 2;
  }

  &__Evaluations,
  &__Introduction {
    text-align: center;
  }

  &__Section {
    margin-top: 2 * $spacer;
  }
}