# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Realm App hosting files
realm-app/hosting/files
# Temp Realm App used when importing, to avoid saving ids in the exported template
production-realm-app
staging-realm-app
