@import "../../../variables";

.CriterionSection {
  &__Controls {
    display: flex;
    justify-content: flex-end;

    & > button:not(:last-child) {
      margin-right: $spacer / 2;
    }
  }

  &__Separator {
    margin-bottom: 0;
  }
}