@import "../variables";

.Brand {
    font-family: 'Oxanium', cursive;
    font-size: 1.8rem;
    font-weight: lighter;

    &--dark {
        color: $body-color;
    }

    &--light {
        color: $white;
    }
}
