@import "../variables";

.DetailsCardBody {
  &__Description {
    white-space: pre-line;
  }

  &__List {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &:not(:only-child) {
      margin-top: $spacer;
    }
  }

  &__ListItemIcon {
    margin-right: $spacer / 2;
  }
}