@import "../variables.scss";

.LinkCard {
    cursor: pointer;

    &:hover {
        box-shadow: 0 (.2 * $spacer) (.5 * $spacer) $gray-300;
        background-color: darken($white, 2%);
        // border-color: $primary;
    }
}