@import "../../../variables";

$form-sidebar-color: $white !default;

.CreateEvaluationForm {
  position: relative;

  &__FormGroup {
    margin-bottom: $spacer * 2;
  }

  &__FocusIndicator {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__Sidebar {
    background: $form-sidebar-color;
    @include border-radius(0 $card-inner-border-radius $card-inner-border-radius 0);
  }
}