@import "../../../variables";

$form-sidebar-color: $white !default;
$form-sidebar-border-color: $gray-300 !default;

.CreateEvaluationForm {
  &__FormGroup {
    margin-bottom: $spacer * 2;
  }

  &__Sidebar {
    border-left: 1px solid $form-sidebar-border-color;
    background: $form-sidebar-color;
    @include border-radius(0 $card-inner-border-radius $card-inner-border-radius 0);
  }
}