@import "./variables";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./fonts/Oxanium-ExtraLight.ttf) format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Oxanium';
  src: local('Oxanium'), url(./fonts/Oxanium-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

button > svg {
  position: relative;
  top: -2px;
}

// Remove the margin in the bottom of the last form group, to enable a more compact layout.
/*
.form-group:last-child {
  margin-bottom: 0;
}
*/
