@import "./variables";

$input-range-color: $primary;
$input-range-size: 20px;

$track-color: $secondary;
$thumb-color: $input-range-color;

$thumb-radius: $input-range-size / 2;
$thumb-height: $input-range-size;
$thumb-width: $input-range-size;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: transparent;
$thumb-border-width: 0;
$thumb-border-color: transparent;

// $track-width: 100% !default;
// $track-height: 8px !default;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-shadow-color: transparent;
$track-border-width: 0;
$track-border-color: transparent;

// $track-radius: 5px !default;
// $contrast: 5% !default;

// $ie-bottom-track-color: darken($track-color, $contrast) !default;

@import "~input-range-scss";

[type='range'] {
  &::-webkit-slider-thumb,
  &::-moz-range-thumb,
  &::-ms-thumb {
    cursor: grab !important;
    background: red;
  }
}
