@import "../../../variables";

$centered-card-min-width: 350px !default;

.CenteredCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__Brand {
        margin-bottom: $spacer;
    }

    &__Card {
        min-width: $centered-card-min-width;
        box-shadow: $gray-300 0 $spacer $spacer;
    }
}