@import "../../variables";

.PrimaryLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__TopBar {
        position: fixed;
        z-index: 101;
        height: $topbar-height;
        width: 100%;
        top: 0;
        box-shadow: $shadow-color 0 $shadow-offset $shadow-radius;
    }

    &__SideBar {
        top: 0;
        position: fixed;
        width: $sidebar-width;
        height: 100%;
        padding-top: $topbar-height;
    }

    &__Content {
        position: relative;
        flex-grow: 1;
        margin-left: $sidebar-width;

        padding-top: $topbar-height + 2*$spacer;
        padding-bottom: 2*$spacer;
        padding-left: $spacer;
        padding-right: $spacer;

        &--full-width {
            margin-left: 0;
        }
    }

    &__AlertContainer {
        flex-shrink: 1;
    }
}
